body {
  background-attachment: fixed;
  content: "";
  display: block;
  height: var(--background-height);
  left: 0;
  pointer-events: auto;
  position: inital;
  top: 0;
  width: 100vw;
  z-index: 0;
  background-image: url('./images/cross.svg');
  background-size: 13px;
  background-position: center;
  background-repeat: repeat;
  background-color: black;
  word-wrap: normal;
  overflow-x: hidden;
  max-width: 99%;
}
a {
  color: white;
}
.title {
  text-align: center;
  margin-top: 40px;
  color: white;
  padding: max(10vw, 6rem);
  width: 100vw;
  height: 100vh;
}
.sixtypx {
  font-size: 120px;
}
.blurback {
  width: 100%;
  height: 100vh;
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -o-backdrop-filter: blur(5px);
  -ms-backdrop-filter: blur(5px);
  backdrop-filter: blur(10px);
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: fixed;
}
.bottom-layer {
  z-index: 1;
}
.blurlayer {
  z-index: 19;
}
.disclaimerlayer {
  z-index: 20;
}
.everything-home {
  width: 100%;
  height: 100vh;
  position: fixed;
}
.disclaimerscreen {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: rgba(17, 17, 17, 0.7);
  width: 400px;
  border-radius: 6px;
  text-align: center;
  padding: 0 30px 30px;

}
.disclaimerbutton {
  padding: 10px 50px;
  background: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  border-radius: 30px;
}
.disclaimerscreen img {
  width: 120px;
  margin-top: -60px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.navbar-nav {
  position: absolute;
  width: 100vw;
  padding: max(0.5vw, 2rem) max(3vw, 1rem);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index:4
}
.navbar-nav-list {
  margin-left: 2.5rem;
  margin-right: 8rem;
  list-style: none;
  border-width: 1.5rem;
  border-radius: 0.5rem;
  gap: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 600px) {
  .navbar-nav {
    display: none;
  }
}
.navbar-nav-link {
  display: flex;
  text-decoration: none;
  font-size: max(1.7vw, 1.1rem);
  color: rgba(255, 255, 255, 0.65);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.65);
  cursor: pointer;
}
.title-font {
  margin-left: 1.5rem;
  font-size: max(2.5vw, 1.1rem);
}
.title-icon {
  display: flex;
  align-items: center;
}
.center-item {
  align-items: center;
}
.inputboxfancy {
  border: 2px solid rgba(255, 255, 255, 0.65);
  border-right: none;
  border-radius: 4px 0px 0px 4px;
  background-color: rgba(255, 255, 255, 0.7);
  float: left;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  font-size: max(1vw, 1.1rem);
}
.center-it {
  display: flex;
  align-items: center;
}
.codebtn {
  float: left;
  width: 20%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: max(1vw, 1.1rem);
  border: 2px solid rgba(255, 255, 255, 0.65);
  border-radius: 0px 4px 4px 0px;
  border-left: none;
  cursor: pointer;
}
.searchbtn {
  height: 1rem;
  width: 1rem;
}